- content_for :css do
  = stylesheet_link_tag "list", :media => "all"

- if false
  .sidebar.span3
    .span.boxed
      .search-head
        .slogo
        .sbox
    .span.boxed
      .filter-head
        .sbox
          %h3 Filter By:
          %br
          %br
          = label_tag "Business Requisite"
.searchbar.searchfilter.sfx
  .searchform
    = form_tag search_businesses_path, :method => 'get' do
      %ul.sfbar
        %li
          %h3.search
            Search:
            = text_field_tag :s, params[:s], placeholder: "               Search for a Business"
            .removesearch
              = link_to "?" do
                %i.icon-remove-sign
          %div= will_paginate @businesses, class: "apple_pagination" unless @businesses.empty?

        - if false
          %li
            %h3
              Industry:
              = select(:filter, :industry, @industries)
          %li
            %h3
              = link_to "Contribute a Business", contribute_business_path, remote: true, class: "btn btn-primary contributebiz"
      .clear
%br
.listing.span12
  - if @businesses.empty?
    Your search has returned no results, try refining your search criteria.
  - else
    %ul.thumbnails
      - @businesses.each do |business|
        %li.span2{:id => business.id}
          .thumbnail
            .innerdiv
              %a{href: business_path(business.id)}
                .logo
                  - if business.logo
                    %img{:src => business.logo }
                  - else
                    %img{:src => "https://s3-ap-southeast-1.amazonaws.com/actatlys-dev/data/0/0.jpg"}
              %h5= business.name
              .cont= truncate(business.uvp, :length => 300)
              %a.link.btn.btn-mini{:href => business_path(business.id)} More Info
    .clear
