- content_for :css do
  = stylesheet_link_tag "list", :media => "all"
.sidebar.span3
  = form_tag search_businesses_path, :method => 'get' do
    .span.boxed
      .search-head
        .slogo
        .sbox
          %h3 Search:
          = text_field_tag :s, params[:s]
    .span.boxed
      .filter-head
        .sbox
          %h3 Filter By:
          %br
          = label_tag "Industry"
          = select(:filter, :industry, @industries)
          %br
          = label_tag "Business Requisite"
          = select(:filter, :requisite, @requisites)

.listing.span9
  - if @businesses.empty?
    Your search has returned no results, try refining your search criteria.
  - else
    %ul.thumbnails
      - @businesses.each do |business|
        %li.span2{:id => business.id}
          .thumbnail
            .logo
              - if business.logo
                %img{:src => business.logo }
              - else
                %img{:src => "https://s3-ap-southeast-1.amazonaws.com/actatlys-dev/data/0/0.jpg"}
            %h5= business.name
            %p{:style => "font-size:12px;"}= truncate(business.uvp, :length => 100)
            %a.btn.btn-mini{:href => business_path(business.id)} More Info
    .clear
