- content_for :css do
  = stylesheet_link_tag "admin", :media => "all"
  = stylesheet_link_tag "forms", :media => "all"
.span1
  &nbsp;
.span10
  = form_for @page, :url => @page.id.nil? ? admin_pages_path(@page) : admin_page_path(@page), :html => {:class => "well admin-edit"} do |f|
    %h3= "#{@page.id.nil? ? 'New' : 'Edit' } Page"
    = f.label "Title"
    = f.text_field :title
    %br
    = f.label "Name"
    = f.text_field :name
    %br
    = f.label "Content"
    = f.text_area :body, :class => "tinymce"
    - content_for :js do
      = tinymce
    %br
    = f.check_box :published
    = f.label "Published", :class => "inline"
    = f.submit @page.id.nil? ? "Create" : "Update", :class => "btn btn-primary"
    = link_to "Cancel", admin_pages_path, :class => "btn"
.span1
  &nbsp;
