- fields = field
- if Array(@business.media.try(:send,"#{fields}")).empty?
  = text_field_tag "add[#{fields}][0]", nil, :placeholder => "+ Add a #{field.capitalize}"
  %br
- else
  - Array(@business.media.try(:send,"#{fields}")).each_index do |c|
    %div{:class => "#{field} fieldnew"}
      = text_field_tag "array[#{fields}][#{c}]", @business.media.send("#{fields}")[c]
      .removeme
        = label_tag "remove[#{fields}][#{c}]", :class => "btn btn-danger remove-btn", "data-toggle" => "button" do
          %i.icon-remove-sign
          Remove
        = check_box_tag "remove[#{fields}][#{c}]", @business.media.send("#{fields}")[c], nil, :class => "removechkbox"
  %div{:class => "#{field} fieldnew"}
    = text_field_tag "add[#{fields}][0]", nil, :placeholder => "+ Add a #{field.capitalize}"
    .removeme
      = link_to "#", :class => "btn btn-danger remove-field remove-btn" do
        %i.icon-remove-sign
        Remove
%a{:href => "#{admin_business_addfield_path}?t=#{field}&new=0&m=t", "data-remote" => true, :class => "addnew#{field}", :new => "0"}
  %i.icon-plus
  = "Add #{field.capitalize}"
  %br
