- content_for :css do
  = stylesheet_link_tag "admin", :media => "all"
  = stylesheet_link_tag "forms", :media => "all"
- content_for :js do
  = javascript_include_tag "form"
.span1
  &nbsp;
.span10
  %h1= @business.id.nil? ? 'New Business' : "Edit #{@business.name} ##{@business.id}"
  %br
  = form_for @business, :url => @business.id.nil? ? admin_businesses_path(@page) : admin_business_path(@page), :html => {:class => "well admin-edit", :multipart => true} do |f|
    .formrow
      .splitform-half
        %h2 Business Description
        = f.label "Name"
        = f.text_field :name
        %br
        = f.label "Logo"
        .logo
          - if @business.logo
            = image_tag @business.logo
          - else
            %img{:src => "https://s3-ap-southeast-1.amazonaws.com/actatlys-dev/data/0/0.jpg"}
        = file_field_tag "logo"
        %br
        = f.label "Unique Value Proposition"
        = f.text_area :uvp
        %br
        = f.label :mission
        = f.text_area :mission, style: "height: 80px;"
        %br
        = f.label "What we are in a nutshell!"
        = f.text_field :nutshell
      .splitform-half
        %h2 Business Info
        = f.label "Business Type"
        = f.select :biztype, @biztypes
        = f.label "Industry"
        = f.select :industrypri, @pindustries
        = f.label "Founded On"
        = select_year(@business.founded ? @business.founded : Time.now, :start_year => Date.today.year, :end_year => 2000, :field_name => "founded", :prefix => "business")
        = f.label "Registration Number"
        = f.text_field :regno
        = f.label "Revenue Model"
        = f.text_field :revenuemodel
        %br
        .taggable
          = f.label "Target Market"
          = text_field_tag "addnewtarget", nil, :class => "taginput"
          %a.btn.tagadd.addnewtarget{:href => "#{admin_businesses_path }/addfield?t=target&new=#{@business.target.try(:size) || 0}",:value => @business.target.size, "data-remote" => "true"} Add
          .tags-target
            - if @business.target.empty?
              %em.notags There are no tags
              .clear
            - else
              %em.notags There are no tags
              - @business.target.each_index do |t|
                .tag
                  = @business.target[t]
                  = hidden_field_tag "array[target][#{t}]", @business.target[t]
                  %a.removetag{:href => "#"}
                    %i.icon-remove-sign
              .clear

        %br
        %h2 Entities
        = f.label "Founders"
        = render 'addmore', field: "founder"
        %br
        = f.label "Number of Staff"
        = f.select :staffno, @staffno
        %br
        = f.label "Key Staff"
        = render 'addmore', field: "keystaff"
        %br
        = f.label "Advisors"
        = render 'addmore', field: "advisor"
        %br
        = f.label "Investors"
        = render 'addmore', field: "investor"
        %br
        = f.label "Competitors"
        = render "addmore", field: "competitor"
      .clear

    .formrow
      .splitform-half
        %h2 Contact Information
        = f.label "Phone Number"
        = text_field_tag "contact[phone]", @business.contact ? @business.contact.phone : nil
        %br
        = f.label "Website"
        = text_field_tag "contact[website]", @business.contact ? @business.contact.website : nil
        %br
        = f.label "Blog"
        = text_field_tag "contact[blog]", @business.contact ? @business.contact.blog : nil
        %br
        = f.label "Twitter"
        = text_field_tag "contact[twitter]", @business.contact ? @business.contact.twitter : nil
        %br
        = f.label "Facebook"
        = text_field_tag "contact[facebook]", @business.contact ? @business.contact.facebook : nil
      .splitform-half
        %h2 Media
      .clear

    .end
      = f.check_box :approved
      = f.label "Approved", :class => "inline"
      = f.submit @business.id.nil? ? "Create" : "Update", :class => "btn btn-primary"
      = link_to "Cancel", admin_businesses_path, :class => "btn"
.span1
  &nbsp;
