- content_for :css do
  = stylesheet_link_tag "admin", :media => "all"
  = stylesheet_link_tag "forms", :media => "all"
.span2
  &nbsp;
.span8
  = form_for @article, :url => @article.id.nil? ? admin_articles_path(@page) : admin_article_path(@article), :html => {:class => "well admin-edit"} do |f|
    %h3= "#{@article.id.nil? ? 'New' : 'Edit'} Article"
    = f.label "Title"
    = f.text_field :title
    %br
    = f.label "Name"
    = f.text_field :name
    %br
    = f.label "Content"
    = f.text_area :body, :class => "tinymce"
    - content_for :js do
      = tinymce
    %br
    = f.check_box :published
    = f.label "Published", :class => "inline"
    = f.submit @article.id.nil? ? "Create" : "Update", :class => "btn btn-primary"
    = link_to "Cancel", admin_articles_path, :class => "btn"
.span2
  &nbsp;
