.register
  .containform
    %h2 Sign Up
    .desc
      Don't have an account? Register, its quick and simple!
    %br
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .formwrap
        = devise_error_messages!
        %div.w9
          = f.label :email
          = f.email_field :email
        %div.w9
          = f.label :password
          = f.password_field :password
        %div.w9
          = f.label :password_confirmation
          = f.password_field :password_confirmation
      .submitwrap
        %div.w9
          = f.submit "Register", :class => "btn btn-primary"

.login
  .containform
    %h2 Login
    .desc
      If you have already signed up, log in here!
    %br
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .formwrap
        %div.w9
          = f.label :email
          = f.email_field :email
        %div.w9
          = f.label :password
          = f.password_field :password
        - if devise_mapping.rememberable?
          %div
            = f.check_box :remember_me
            = f.label :remember_me, :style => "display:inline;"
      .submitwrap
        %div.w9
          = f.submit "Login", :class => "btn btn-primary"

.social
  .containform
    %h2 Login with
    %br
    = link_to "Sign in with Linkedin", user_omniauth_authorize_path(:linkedin)
