- content_for :css do
  = stylesheet_link_tag "pages/blog/blog", media: "all"
.span1
  &nbsp;
.span7
  .blogblock.bloghead= render "bloghead"
  .blogblock
    .blog{:id => "article-#{@article.id}", "disqus-identifier" => "article-id-#{@article.id}"}
      %h2= @article.title
      .body=raw @article.body
      %br
      .div{:id => "disqus_thread"}
      %a{href:"http://disqus.com", class: "dsq-brlink"}
        blog comments powered by
        %span{class: "logo-disqus"}
          Disqus
.span3
  .rightside
    %h1 Twitter
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 8,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#bfbfbf',
            color: '#4f4f4f'
          },
          tweets: {
            background: '#6b6b6b',
            color: '#fff8eb',
            links: '#fcba56'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('actatlys').start();

.span1
  &nbsp;
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'actatlys'; // required: replace example with your forum shortname
  var disqus_title = '#{@article.title}';
  var disqus_developer = 1; // developer mode is on
  var disqus_identifier = 'article-id-#{@article.id}';
  var disqus_url = 'http://0.0.0.0:3000#{article_path(@article)}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
