:css
  .blogblock{
    border-radius:5px;
    background: #EEE;
    padding: 15px;
    margin-bottom: 25px;
  }
  .bloghead{
    background: #BFBFBF;
  }
.span1
  &nbsp;
.span7
  .blogblock.bloghead
    %h1= "The Blog : #{@category.name}"
    %br
    .menu
      %ul.nav.nav-pills{:style => "margin-bottom: 0px;"}
        %li
          %a{:href => "/blog"} All Posts
        %li{:class => params[:name] == "actatlys" ? "active" : nil }
          %a{:href => "/blog/c/actatlys"} Actatlys
        %li{:class => params[:name] == "startups" ? "active" : nil }
          %a{:href => "/blog/c/startups"} Startups
        %li{:class => params[:name] == "business" ? "active" : nil }
          %a{:href => "/blog/c/business"} Business
  .blogblock
    - if @category.articles.count > 0
      - @category.articles.each do |a|
        .article{:id => "article-#{a.id}"}
          %h2= a.title
          .article-body=raw truncate(a.body, :length => 250, :omission => "<i style='font-style:italic'> ... <a href=#{article_path(a.name)}>read more</a></i>")
    - else
      There are no posts in this category
.span3
  .rightside
    %h1 Twitter
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 8,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#bfbfbf',
            color: '#4f4f4f'
          },
          tweets: {
            background: '#6b6b6b',
            color: '#fff8eb',
            links: '#fcba56'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('actatlys').start();
.span1
  &nbsp;
