- content_for :css do
  = stylesheet_link_tag "admin", :media => "all"
  = stylesheet_link_tag "forms", :media => "all"
.span2
  &nbsp;
.span8
  = form_for @user, :url => @user.id.nil? ? admin_users_path(@user) : admin_user_path(@user), :html => {:class => "well admin-edit"} do |f|
    %h3= "#{@user.id.nil? ? 'New' : 'Edit' } User"
    = f.label "Email"
    = f.text_field :email
    %br
    = f.label "Name"
    = f.text_field :name
    %br
    = f.label "Password"
    = text_field_tag :password
    %br
    = f.label "Password Confirmation"
    = text_field_tag :password_confirmation
    %br
    = f.submit @user.id.nil? ? "Create" : "Update", :class => "btn btn-primary"
    = link_to "Cancel", admin_users_path, :class => "btn"
.span2
  &nbsp;
