- @users.each do |b|
  %tr
    %td
      = b.id
    %td
      = b.email
    %td
      = b.name
    %td
      = b.linkedinid
    %td
      = b.last_sign_in_at
    %td
      = b.last_sign_in_ip
    %td.tableactions
      %a.btn{:href => admin_ban_user_path(b), :class => b.banned == true ? "btn-warning" : "btn-danger" }= b.banned == true ? "Unban" : "Ban"
      %a.btn{:href => edit_admin_user_path(b)} Edit
      %a.btn.btn-danger{:href => admin_user_path(b), "data-method" => :delete, "data-confirm" => "Are you sure?"} Delete
