.notifybar.row{style: "margin-left: -20px;width:100%"}
  .span8
    &nbsp;
  .span4.notification
    - flash.each do |k,v|
      - case k
      - when :alert
        .alert.alert-error= v
      - when :notice
        .alert.alert-info= v
      - else
        .alert.alert-success= v

.maincontent.row{style: "margin-left: -20px; width:100%;"}
  .contdiv
    = yield
  .footdiv
    = render "layouts/footer"
