- content_for :css do
  = stylesheet_link_tag "admin", :media => "all"
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/admin"}
        %img{:src => "/assets/logo.png"}
      .container.nav-collapse
        %ul.nav
          %li.divider-vertical
          %li= link_to "Businesses", admin_businesses_path
          %li.divider-vertical
          %li= link_to "People", admin_person_index_path
          %li.divider-vertical
          %li= link_to "Pages", admin_pages_path
          %li.divider-vertical
          %li= link_to "Articles", admin_articles_path
          %li.divider-vertical
          %li= link_to "Attachments", admin_attachments_path
          %li.divider-vertical
          %li= link_to "Users", admin_users_path
          %li.divider-vertical
        %ul.nav{:style => "float:right"}
          - if user_signed_in?
            %li.divider-vertical
            %li.btn-group.profilebtn{:style => "box-shadow: none;margin-top: 0px;"}
              %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
                Account
                %span.caret
              %ul.dropdown-menu.profilemenu
                %li
                  %a{:href => edit_user_registration_path}
                    %i.icon-pencil
                    Edit Profile
                %li
                  %a{:href => "#"}
                    %i.icon-heart
                    My Contributions
                %li
                  %a{:href => destroy_user_session_path, "data-method" => :delete}
                    %i.icon-off
                    Log Out
            %li.divider-vertical
          - else
            %li.divider-vertical
            %li= link_to "Sign Up / Log In", new_user_session_path
            %li.divider-vertical
