!!! 5
%html{:lang => "en"}
  = render "layouts/head"
  %body
    = render "layouts/navadmin"
    .container-fluid{ :style => "position:relative;" }
      .content
        = render "layouts/content"

    = javascript_include_tag "application"
    = yield(:js)
    :javascript
      $('.dropdown-toggle').dropdown();
