!!! 5
%html{:lang => "en"}
  %head
    = render "layouts/head"
  %body
    = render "layouts/nav"
    = yield(:search)
    .container-fluid{ :style => "position:relative;" }
      = render "layouts/content"

    = javascript_include_tag "application"
    = yield(:js)
    :javascript
      $('.dropdown-toggle').dropdown();
