!!! 5
%html{:lang => "en"}
  = render "layouts/head"

  %body
    = render "layouts/nav"
    .container{ :style => "position:relative;" }
      .content
        = render "layouts/contentlogin"

    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield(:js)
    :javascript
      $('.dropdown-toggle').dropdown();
